/* Ensures no extra margin or padding */
#root {
  background-color: #112C71;  /*#5B58E */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* nav bar css starting */
.navbar {
  margin: 0;
  padding: 0;
}

#navbarbg {
  background: #0A2353;
}

/* navbar hover */
.nav-link:hover {
  color: #000000; 
  text-decoration-color: #000000;
  background-color: #dff6113f; 
  border-radius: 25px; 
  width:max-content;
  height: fit-content;
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item #dropdown-basic {
  background-color: #0A2353; 
  color: #fff; 
}




#dropdown-basic:hover{
  background-color: #dff6113f; 
  border-radius: 25px; 
  width:max-content;
  height: fit-content;
}
#dropdown-basic {
  background-color: #0A2353;
}

#dropdown-basic1 {
  background-color: #dff6113f;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdown-menu:hover {
  color: #fff;
}

/* search bar right side */
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

#mainlogo {
  width: 60px;
}

/* image css starting */
#image-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem;
}

.image-item {
  margin-right: 1.5rem;
  margin-left: 1.45rem;
  text-align: center;
  min-width: 90px;
  transition: transform 0.3s;
}

.image {
  border-radius: 50px;
  width: 100px;
  height: 90px;
  object-fit: cover;
}

.image-item:hover {
  transform: scale(1.05);
}

.image-title {
  margin-top: 10px;
  font-size: 16px;
  color: #efe5e5; 
  text-decoration: none;
  font-weight: bold;
}

.image-item a {
  text-decoration: none;
}

.image-item a:hover .image-title {
  color: #007bff; 
}

/* carousel css starting */
#custom-carousel {
  margin: 1.5rem;
}

.carousel-container {
  width: 100%;
  margin-top: 20px;
  height: min-content;
}

#car {
  height: 450px;
}

#carheader {
  color: rgb(255, 2, 2);
  font-family: 'Courier New', Courier, monospace;
  text-decoration: dotted;
  text-shadow: #fff;
  text-decoration-color: #DFF611;
  font-weight: bolder;
}

#pcar {
  color: #DFF611;
  font-weight: bolder;
}

#cartsimbol {
  color: aliceblue;
  padding-left: 5px;
}

#time {
  color: #ff0f0f;
  display: inline;
}
#time1{
  color: #ff0f0f;
  display: inline;
  padding-top: 10px;
}